<!DOCTYPE html>
<html data-theme='light'>
  <head>
    <title>robinhood</title>
    
    <link rel="icon" type="image/png" href="/rh_favicon.png"/>

    <script src="odometer.min.js"></script>
    <link rel="stylesheet" href="odometer-theme-default.css" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
    <script type="text/javascript">
      window.newsAPIKey = "<%= Rails.application.credentials.news[:api_key] %>"
    </script>
    <script type="text/javascript">
      window.iexAPIKey = "<%= Rails.application.credentials.iex[:api_key] %>"
    </script>
    <script type="text/javascript">
      window.avAPIKey = "<%= Rails.application.credentials.alpha_vantage[:api_key] %>"
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
