<!DOCTYPE html>
<html data-theme='light'>
  <head>
    <title>robinhood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
